const ETH_API = ''
const BSC_API = ''

const privates = ['']

export default {
  moralis: '',
  bsc_mainnet: {
    keys: privates,
    api: BSC_API,
  },
  bsc_testnet: {
    keys: privates,
    api: BSC_API,
  },
  rinkeby: {
    keys: privates,
    api: ETH_API,
  },
}
